:root{
  --blue: #4285f4;
  --teal: #00BF85;
  --white: #ffffff;
  --black: #000000ce;
}


body {
  color: var(--black);
}

h1{
  color: var(--blue);
}

h2{
  color: var(--teal);
}
